.header {
    height: 100px;
    margin-top: -21px;
    background-color: #016FB9;
}
.header .title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 15px;
}
.header .header-icon {
    color: white  ;
}
.header .header-icon {
    position: absolute;
    top: 15px;
    left: 15px;
}