.single-item .image {
    background-size: cover;
    height: 240px;
    width: 180px;
    margin: 0 auto;
    transition: 0.4s ease-in-out all;
}
.single-item .image:hover {
    transform: rotate( 3deg ) scale(1.1)
}
.single-item .title, .single-item .desc {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: center;
    position: relative;
    z-index: 999999;
}
.single-item {
    border-bottom: 2px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px 0;
}
.single-item .alcohol-content {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.single-item .title {
    display: inline-block;
}
.single-item .title-wrapper {
    text-align: center;
}